/* GENERAL STYLE */

:root {
    --theme-1: #171310;
    --theme-2: #00A86B;
    --theme-3: #eaeaea;
    --theme-4: #1B4D3E
}

body {

    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Raleway";
    font-weight: normal;
    font-style: normal;

    padding-top: 3%;
    padding-bottom: 3%;

}

strong {
    font-weight: normal;
    font-size: 120%;
}

p {
    font-size: 14pt;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* FONTS */

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Righteous";
    src: url("./fonts/Righteous-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil Italic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil Bold Italic.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

/* NAVBAR STYLE */

.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.navbar {
    font-family: "Righteous";
    opacity: 0.90;
    background: var(--theme-3);

}

.navbar:hover {

    opacity: 0.95;
    background: var(--theme-2) !important;

}

.nav-link:hover {

    color: (var(--theme-1)) !important;

}

.nav-item {
    margin-right: 5px;
    margin-left: 5px;
}

.dropdown-item.active,
.dropdown-item:focus {
    background-color: var(--theme-1) !important;
}

.brndtitle,
.brndsubtitle {
    text-align: center;
}

.brndtitle {
    font-size: 100%;
    color: var(--theme-1);
    margin-bottom: 3px;
}

.brndsubtitle {
    border-top: 1px solid var(--theme-1);
    border-collapse: collapse;
    font-size: 70%;
    color: var(--theme-1);
}

/* SITE BODY */

.sbody {
    color: var(--theme-3);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bg1,
.bg2 {
    margin: 2% auto 2% auto;
    width: 95%;
    padding: 2% 4% 2% 4%;
}

.bg1 {
    background: var(--theme-2);
    color: var(--theme-1);
}

.bg2 {
    background: var(--theme-3);
    color: var(--theme-2);
}

.itm {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.titretxt {
    background: var(--theme-1);
    opacity: 0.8;

    text-align: center;
    font-family: "Cyrodiil";
    font-weight: "bold";
    color: var(--theme-3);
    line-height: 2;

    width: 80%;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-bottom: 3%;
}

.quote {
    font-style: italic;
    font-weight: bold;
}

/* GAME SECTION */

.card {
    background: var(--theme-3);
    color: var(--theme-1);
}

.card:hover {
    color: var(--theme-4);
}

.gametitle {
    background: var(--theme-1);
    opacity: 0.8;

    text-align: right;
    color: var(--theme-3);
    font-family: "Cyrodiil";
    font-weight: bold;

    width: 60%;
    padding: 1% 5% 1% 1%;
    margin: auto 0% 3% auto;
}

.carousel {
    width: 75%;
    margin: auto;
}

#blank {
    min-height: 80px;
}

/* MOVE-TO-TOP BUTTON */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--theme-1);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #aaaaaa;
    /* Add a dark-grey background on hover */
}

/*
.btntxt {

    text-decoration: underline;
    color: var(--theme-2);

}

.btntxt:hover {

    text-decoration: underline;
    color: var(--theme-2);

}

.btntxt2 {

    text-decoration: underline;
    color: var(--theme-1);

}

.btntxt2:hover {

    text-decoration: underline;
    color: var(--theme-1);

}

.frame {
    display: block;
    width: 90vw;
    height: 80vh;
    max-width: 100%;
    margin: auto;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
}

#linkdev {

    text-decoration: none;
    font-weight: bold;
    color: var(--theme-2);

}

#linkdev:hover {

    text-decoration: none;
    font-weight: bold;
    color: var(--theme-1);

}

@media screen and (min-width:600px) {

}
*/