/* GENERAL STYLE */

:root {
    --theme-bg1: #ECC680;
    --theme-bg2: #FCE7EA;
    --theme-main1: #161212;
    --theme-main2: #0F0805;
    --theme-hover: #CC8500;
    --theme-link: #A17E02;
}

body {

    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Raleway";

    padding-top: 3%;
    padding-bottom: 3%;

}

strong {
    font-weight: normal;
    font-size: 120%;
}

p {
    font-size: 14pt;
    padding-top: 1%;
    padding-bottom: 1%;
}

a,
a:hover {
    text-decoration: none;
}

/* FONTS */

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Righteous";
    src: url("./fonts/Righteous-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil Italic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cyrodiil";
    src: url("./fonts/Cyrodiil Bold Italic.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

/* NAVBAR STYLE */

.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.navbar {
    font-family: "Righteous";
    opacity: 0.90;
    background: var(--theme-bg2);

}

.navbar:hover {

    opacity: 0.95;

}


.nav-link:hover {

    color: var(--theme-main2) !important;

}

.nav-item {
    margin-right: 5px;
    margin-left: 5px;
}

.dropdown-item.active,
.dropdown-item:focus {
    background-color: var(--theme-main2) !important;
}

.brndtitle,
.brndsubtitle {
    text-align: center;
}

.brndtitle {
    font-size: 100%;
    color: var(--theme-main2);
    margin-bottom: 3px;
}

.brndsubtitle {
    border-top: 1px solid var(--theme-main2);
    border-collapse: collapse;
    font-size: 70%;
    color: var(--theme-main2);
}

/* SITE BODY */

.sbody {
    color: var(--theme-bg2);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bg1,
.bg2 {
    margin: 1% auto 1% auto;
    width: 95%;
    padding: 2% 4% 2% 4%;
    text-align: justify;
    border-radius: 0 40px 0 40px;
}

.bg1 {
    background: var(--theme-bg1);
    color: var(--theme-main1);
}
.bg2 {
    background: var(--theme-bg2);
    color: var(--theme-main2);
}

.bg1 a, .bg2 a {
    color: var(--theme-link);
}

.bg1 a:hover, .bg2 a:hover {
    color: var(--theme-hover);
}

.sectiontitle {
    width: 100%;
    margin: auto;
    padding-left: 5%;
    font-family: "Cyrodiil";
    font-size: 24pt;
}

.itm {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.titretxt {
    background: var(--theme-main2);
    opacity: 0.95;

    text-align: center;
    font-family: "Cyrodiil";
    color: var(--theme-bg2);
    line-height: 2;

    width: 70%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 2%;

    border-radius: 0 0 40px 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content:
        space-between;
    flex-wrap: wrap;
    height: min-content;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .flex-container {
        flex-direction: column;
    }
}

.icon {
    height: 20px;
    width: 20px;
}

/* GAME SECTION */

.card {
    background: var(--theme-bg2);
    color: var(--theme-main1);
}

.card:hover {
    color: var(--theme-hover);
}

.gametitle {
    background: var(--theme-main2);
    opacity: 0.95;

    text-align: right;
    color: var(--theme-bg2);
    font-family: "Cyrodiil";

    width: 55%;
    padding: 1% 5% 1% 1%;
    margin: auto 0% 3% auto;

    border-radius: 0 0 0 40px;
}

.carousel {
    width: 75%;
    margin: auto;
}

#blank {
    min-height: 80px;
}

.quote {
    font-style: italic;
    font-weight: normal;
    font-size: 16pt;
}

.teamtable {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

.teamtable th,
.teamtable td {
    padding: 1%;
    border-bottom: 1px double var(--theme-main2);
}

.teamtable th {
    text-align: center;
    font-size: 16pt;
}

.spectable {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
    text-align: center;
}

.spectable th,
.spectable td {
    border-left: 1px solid var(--theme-main1);
    border-right: 1px solid var(--theme-main1);
}

.award {
    font-size: 16pt;
    width: 100%;
    margin: auto;
    text-align: center;
}

.frame {
    display: flex;
    justify-content: space-around;
    margin: 2% auto 2% auto;
}

/* TIMELINE */


.timeline {
    --uiTimelineMainColor: var(--theme-main2);
    --uiTimelineSecondaryColor: var(--theme-bg2);
    --timelineMainColor: var(--theme-main1);

    border-left: 5px solid var(--uiTimelineMainColor);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 95%;
    margin: auto;

    display: var(--timelineDisplay, grid);
    grid-row-gap: var(--timelineGroupsGap, 2rem);
}

.timeline__section {
    --timePadding: var(--timelineYearPadding, 0.5rem 1.5rem);
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: 400;
    --timeFontSize: 14pt;

    margin-bottom: 1.25rem;
    border-radius: 0% 0% 1rem 0%;
}

.timeline__title {
    display: inline-flex;
    padding: var(--timePadding, 0.25rem 1.25rem 0.25rem);
    background-color: var(--timeBackgroundColor, var(--uiTimelineSecondaryColor));

    font-size: var(--timeFontSize, 16pt);
    font-weight: var(--timeFontWeight, 700);
    text-transform: uppercase;
    color: var(--timeColor, currentColor);
}

.timeline__subtitle {
    display: inline-flex;
    padding: var(--timePadding, 0.25rem 1.25rem 0.25rem);
    background-color: var(--timeBackgroundColor, var(--uiTimelineSecondaryColor));

    font-size: var(--timeFontSize, 14ptm);
    font-weight: var(--timeFontWeight, 500);
    font-style: italic;
    color: var(--timeColor, currentColor);
}

.card__content {
    margin-top: 0.5rem;
    font-size: 14pt;
}

.card__comp {
    padding-bottom: 1rem;
}
.card__desc {
    font-size: 12pt;
    padding-left: 1rem;
    color: var(--theme-hover);
}

.card__header {
    display: inline-flex;
    flex-direction: column;
}

.card__content a {
    color: var(--theme-main2);
}

.card__content a:hover {
    color: var(--theme-7);
}

.timeline__cards {
    display: grid;
    row-gap: 1.5rem;

    overflow: hidden;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.timeline__card {
    position: relative;
    margin-left: 3rem;

    border-radius: 5px;
    border-left: 5px solid var(--uiTimelineMainColor);
    background-color: var(--uiTimelineSecondaryColor);

    padding: 1.5rem 1.5rem 1.25rem;
}

.timeline__card::before {
    content: "";
    width: 50%;
    height: 5px;
    background-color: var(--uiTimelineMainColor);

    position: absolute;
    top: 1rem;
    left: -50%;
}

/* MOVE-TO-TOP BUTTON */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 25px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: var(--theme-main2);
    /* Set a background color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 30px;
    /* Rounded corners */
}

#myBtn:hover {
    background-color: var(--theme-main1);
    /* Add a dark-grey background on hover */
}