<a class="add-root navbar-brand" href="index.html" style="margin-left: 5%;">
    <img src="/img/logo.svg" width="60" height="60" class="add-static-path d-inline-block align-center" \>
</a>
<table class="navbar-brand" style="margin-right: 3%;">
    <tr>
        <td class="brndtitle"><strong>G</strong>RÉGOIRE <strong>CHAPEAUX</strong></td>
    </tr>
    <tr>
        <td class="brndsubtitle"><strong>P</strong>rojects and <strong>E</strong>xperiences</td>
    </tr>
</table>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="text-align: center; width: 95%;">
        <li class="nav-item p-2 bd-highlight">
            <a class="add-root nav-link index" href="index.html"><strong>H</strong>OME</a>
        </li>
        <li class="nav-item p-2 bd-highlight dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>M</strong>Y
                <strong>P</strong>ROJECTS</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="add-root dropdown-item games" href="games.html">Game projects</a>
                <a class="add-root dropdown-item it" href="it.html">IT projects</a>
            </div>
        </li>
        <li class="nav-item p-2 bd-highlight">
            <a class="add-root nav-link career" href="career.html"><strong>C</strong>AREER <strong>P</strong>ATH</a>
        </li>
        <li class="nav-item p-2 bd-highlight">
            <a class="add-root nav-link contact" href="contact.html"><strong>C</strong>ONTACT</a>
        </li>
        <li class="nav-item ml-auto p-2 bd-highlight">
            <a class="lang-change nav-link" href="">FR</a>
        </li>
    </ul>
</div>